.carte {
  display: inline-block;
  width: 5em;
  height: 6.6em;
  border: 1px solid #666;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  padding: 0.25em;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  position: relative;
  background-color: #fff;
  -moz-box-shadow: 0.2em 0.2em 0.5em #333;
  -webkit-box-shadow: 0.2em 0.2em 0.5em #333;
  box-shadow: 0.2em 0.2em 0.5em #333;
}

.valeur-top {
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 1;
}
.valeur-bottom {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.couleur {
  font-size: 39px;
}
