<div class="carte">
    <span class="couleur" *ngIf="carte.couleur === 'Coeur'">&hearts; </span>
    <span class="couleur" *ngIf="carte.couleur === 'Pique'">&spades;</span>
    <span class="couleur" *ngIf="carte.couleur === 'Trefle'">&clubs;</span>
    <span class="couleur" *ngIf="carte.couleur === 'Carreaux'">&diams;</span>
    <div class="valeur-top">{{getLetter(carte.valeur)}}</div>
    <div class="valeur-bottom">{{getLetter(carte.valeur)}}</div>
</div>
