<div class="container">
  <h3>Main Non Triée</h3>
  <div class="row">
    <div class="col-md-1" *ngFor="let carte of listeCartes">
      <app-carte [carte]="carte"></app-carte>
    </div>
  </div>
  <h3>Main Triée</h3>
  <div class="row">
    <div class="col-md-1" *ngFor="let carte of listeCartesTriees">
      <app-carte [carte]="carte"></app-carte>
    </div>
  </div>
  <br />
  <div class="col-md-3 mb-3">
    <button class="btn btn-custom" (click)="lancerMain()">Lancer Main</button>
  </div>
</div>
